# Series

In [1]:
import pandas as pd

### Creating Series using Lists

In [3]:
ice_cream = ["Chocholate", "Valina", "Strawberry", "Rum"]
pd.Series(ice_cream)

0    Chocholate
1        Valina
2    Strawberry
3           Rum
dtype: object

In [4]:
lottery = [4,8,15,16,23,42]
pd.Series(lottery)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Creating Series using Dictionary

In [6]:
food = {
    "Tomato": "Tamatar",
    "Potato": "Aalu",
    "Brinjal": "Bhata"
}
pd.Series(food)

Tomato     Tamatar
Potato        Aalu
Brinjal      Bhata
dtype: object

### Methods

In [8]:
"hello".upper() # donot mutates

'HELLO'

In [10]:
data = [1,2,3]
data.append(4) # mutates
data

[1, 2, 3, 4]

In [11]:
prices = pd.Series([2.5, 3.5, 3.3])
prices

0    2.5
1    3.5
2    3.3
dtype: float64

In [12]:
prices.sum()

9.3

In [13]:
prices.product()

28.875

In [14]:
prices.mean()

3.1

### Atrributes

In [15]:
adjectives = pd.Series(["Smart", "Intelligent", "Humble", "Brilliant"])
adjectives

0          Smart
1    Intelligent
2         Humble
3      Brilliant
dtype: object

In [16]:
adjectives.size

4

In [17]:
adjectives.is_unique

True

In [20]:
# returns as numpy array
adjectives.values

array(['Smart', 'Intelligent', 'Humble', 'Brilliant'], dtype=object)

In [25]:
type(adjectives.values)

numpy.ndarray

In [26]:
adjectives.index

RangeIndex(start=0, stop=4, step=1)

In [29]:
adjectives.dtype

dtype('O')

### Parameters and Arguments

In [32]:
fruits = ["Apple", "Pineapple", "Banana", "Vanila", "Pears"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thusday", "Friday"]
pd.Series(data=fruits, index=weekdays)

Monday           Apple
Tuesday      Pineapple
Wednesday       Banana
Thusday         Vanila
Friday           Pears
dtype: object

### Import Series with the pd.read_csv Function

In [2]:
pd.read_csv("datasets\pokemon.csv")

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

In [8]:
# squeeze will convert csv into Series
pokemon = pd.read_csv("datasets\pokemon.csv", usecols=["Pokemon"]).squeeze() 
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

### Head and Tail

In [9]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [10]:
pokemon.head(10)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
7     Wartortle
8     Blastoise
9      Caterpie
Name: Pokemon, dtype: object

In [11]:
pokemon.tail()

716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

### Passing Series to Python Functions

In [12]:
pokemon = pd.read_csv("datasets\pokemon.csv", usecols=["Pokemon"]).squeeze()

In [13]:
type(pokemon)

pandas.core.series.Series

In [18]:
# List of all operations that can be performed
# dir(pokemon)

In [22]:
# Sorting
# sorted(pokemon)

In [23]:
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [24]:
# Sorting Series without changing type of output
pokemon.sort_values()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
         ...
570      Zoroark
569        Zorua
40         Zubat
633     Zweilous
717      Zygarde
Name: Pokemon, Length: 721, dtype: object

In [29]:
# Creating series with index_col
pokemon = pd.read_csv("datasets\pokemon.csv", index_col="Pokemon").squeeze()
pokemon

Pokemon
Bulbasaur       Grass
Ivysaur         Grass
Venusaur        Grass
Charmander       Fire
Charmeleon       Fire
               ...
Yveltal          Dark
Zygarde        Dragon
Diancie          Rock
Hoopa         Psychic
Volcanion        Fire
Name: Type, Length: 721, dtype: object

In [30]:
# sort by index
pokemon.sort_index()

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Accelgor         Bug
Aegislash      Steel
              ...
Zoroark         Dark
Zorua           Dark
Zubat         Poison
Zweilous        Dark
Zygarde       Dragon
Name: Type, Length: 721, dtype: object

### Inclusion - check for a value exists or not

In [32]:
pokemon = pd.read_csv("datasets\pokemon.csv", usecols=["Pokemon"]).squeeze()
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [34]:
# check, # False bez, by default pandas check in index.
"Bulbasaur" in pokemon

False

In [35]:
100 in pokemon

True

In [37]:
# .values will display all the list
# pokemon.values

In [38]:
"Bulbasaur" in pokemon.values

True

### Extract Series Values by Index Position

In [40]:
pokemon = pd.read_csv("datasets\pokemon.csv", usecols=["Pokemon"]).squeeze()
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [42]:
pokemon[0]

'Bulbasaur'

In [43]:
# Multiple value pull out
pokemon[[100, 200, 300]]

100    Electrode
200        Unown
300     Delcatty
Name: Pokemon, dtype: object

### Extract Series Values by Index Label

In [44]:
pokemon = pd.read_csv("datasets\pokemon.csv", index_col="Pokemon").squeeze()
pokemon

Pokemon
Bulbasaur       Grass
Ivysaur         Grass
Venusaur        Grass
Charmander       Fire
Charmeleon       Fire
               ...
Yveltal          Dark
Zygarde        Dragon
Diancie          Rock
Hoopa         Psychic
Volcanion        Fire
Name: Type, Length: 721, dtype: object

In [47]:
pokemon[0] # will work

'Grass'

In [48]:
pokemon["Bulbasaur"]

'Grass'

### Get Method

In [49]:
# get method is more efficient than [] method

In [51]:
pokemon = pd.read_csv("datasets\pokemon.csv", index_col="Pokemon").squeeze()
pokemon

Pokemon
Bulbasaur       Grass
Ivysaur         Grass
Venusaur        Grass
Charmander       Fire
Charmeleon       Fire
               ...
Yveltal          Dark
Zygarde        Dragon
Diancie          Rock
Hoopa         Psychic
Volcanion        Fire
Name: Type, Length: 721, dtype: object

In [52]:
pokemon.get(0)

'Grass'

In [54]:
# pokemon["Sandeep"]
# displays error

In [57]:
print(pokemon.get("Sandeep")) # donot display error

None

In [58]:
# we can specify what to display if error occurs
pokemon.get("Sandeep", "Item Not Found")

'Item Not Found'

### Override Series Values

In [60]:
pokemon = pd.read_csv("datasets\pokemon.csv", usecols=["Pokemon"]).squeeze()
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [61]:
# changing value
pokemon[0] = 'Sandeep'

In [62]:
pokemon.head()

0       Sandeep
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [63]:
# if we try to override the index values which do not exits then it will add
pokemon[1500] = 'Sandy'

In [64]:
pokemon.tail()

717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
1500        Sandy
Name: Pokemon, dtype: object

In [65]:
pokemon[[1,2,3]] = ["Cherry", "Zozo", "Unnati"]

In [66]:
pokemon.head()

0       Sandeep
1        Cherry
2          Zozo
3        Unnati
4    Charmeleon
Name: Pokemon, dtype: object

### Copy method

In [67]:
pokemon_df = pd.read_csv("datasets\pokemon.csv", usecols=["Pokemon"])
pokemon_series = pokemon_df.squeeze().copy()

### Inplace parameter

In [81]:
google = (
    pd.read_csv("datasets\google_stock_price.csv", usecols=["Stock Price"])
    .squeeze()
    .copy()
)

In [82]:
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [85]:
google = google.sort_values()
google

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [87]:
google.sort_values(inplace=True) # sort the series in place without assignment

### Math methods on Series

In [90]:
google.count()

3012

In [91]:
google.sum()

1006942.0

In [92]:
google.mean()

334.3100929614874

In [93]:
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

### Broadcasting

In [94]:
# Applying math operation to every values is broadcasting

In [97]:
google.head()

11    49.95
9     50.07
0     50.12
10    50.70
12    50.74
Name: Stock Price, dtype: float64

In [98]:
google + 10

11       59.95
9        60.07
0        60.12
10       60.70
12       60.74
         ...
3010    781.61
3007    782.88
3009    783.18
2859    786.60
3011    792.22
Name: Stock Price, Length: 3012, dtype: float64

### Value_count method

In [100]:
pokemon = pd.read_csv("datasets\pokemon.csv", index_col=["Pokemon"]).squeeze()
pokemon

Pokemon
Bulbasaur       Grass
Ivysaur         Grass
Venusaur        Grass
Charmander       Fire
Charmeleon       Fire
               ...
Yveltal          Dark
Zygarde        Dragon
Diancie          Rock
Hoopa         Psychic
Volcanion        Fire
Name: Type, Length: 721, dtype: object

In [102]:
pokemon.value_counts()

Type
Water       105
Normal       93
Grass        66
Bug          63
Fire         47
Psychic      47
Rock         41
Electric     36
Ground       30
Poison       28
Dark         28
Fighting     25
Dragon       24
Ghost        23
Ice          23
Steel        22
Fairy        17
Flying        3
Name: count, dtype: int64

### apply method

In [103]:
# apply certain method to all the values of series

In [105]:
pokemon.apply(len) # return the count of values "Grass" -> 5

Pokemon
Bulbasaur     5
Ivysaur       5
Venusaur      5
Charmander    4
Charmeleon    4
             ..
Yveltal       4
Zygarde       6
Diancie       4
Hoopa         7
Volcanion     4
Name: Type, Length: 721, dtype: int64

In [112]:
# Custom apply
def my_custom_pokemon(pokemon_type):
    if pokemon_type in ["Grass"]:
        return "Hahaha"
    else:
        return pokemon_type

In [113]:
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [116]:
pokemon.apply(my_custom_pokemon)

Pokemon
Bulbasaur      Hahaha
Ivysaur        Hahaha
Venusaur       Hahaha
Charmander       Fire
Charmeleon       Fire
               ...
Yveltal          Dark
Zygarde        Dragon
Diancie          Rock
Hoopa         Psychic
Volcanion        Fire
Name: Type, Length: 721, dtype: object

### Map method

In [117]:
pokemon = pd.read_csv("datasets\pokemon.csv", index_col=["Pokemon"]).squeeze()
pokemon

Pokemon
Bulbasaur       Grass
Ivysaur         Grass
Venusaur        Grass
Charmander       Fire
Charmeleon       Fire
               ...
Yveltal          Dark
Zygarde        Dragon
Diancie          Rock
Hoopa         Psychic
Volcanion        Fire
Name: Type, Length: 721, dtype: object

In [124]:
mappings = {
    "Grass": "New Grass",
    "Fire": "Hot Fire",
}
mapping_series = pd.Series(mappings)
mapping_series

Grass    New Grass
Fire      Hot Fire
dtype: object

In [125]:
pokemon.map(mapping_series)

Pokemon
Bulbasaur     New Grass
Ivysaur       New Grass
Venusaur      New Grass
Charmander     Hot Fire
Charmeleon     Hot Fire
                ...
Yveltal             NaN
Zygarde             NaN
Diancie             NaN
Hoopa               NaN
Volcanion      Hot Fire
Name: Type, Length: 721, dtype: object